.raiting {
  &-light {
    color: rgb(0, 0, 0);
    background-color: white;
  }

  &-dark {
    table {
      color: hsl(0, 0%, 100%) !important;
    }
  }
}

.raitingPaginator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
