@import '../../constants/variables';

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;

  &__item {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link-light {
    padding: 0 15px;
    color: $font-menu-light;

    &--active {
      color: $success;
    }

    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }

  &__link-dark {
    padding: 0 15px;
    color: $secondary-color-dark;

    &--active {
      color: $success;
    }

    &:hover {
      color: hsl(0, 2%, 82%);
      text-decoration: none;
    }
  }

  &__sound,
  &__music {
    padding-left: 5px;
    font-size: 30px;
  }
}

.navbar {
  z-index: 2000;
}
