.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;

  &__item {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__link-light {
    padding: 0 15px;
    color: hsl(0, 49%, 30%);

    &--active {
      color: hsl(134, 61%, 41%);
    }

    &:hover {
      color: hsl(0, 6%, 48%);
      text-decoration: none;
    }
  }

  &__link-dark {
    padding: 0 15px;
    color: hsl(0, 0%, 100%);

    &--active {
      color: hsl(134, 61%, 41%);
    }

    &:hover {
      color: hsl(0, 2%, 82%);
      text-decoration: none;
    }
  }
}
