.auth {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__style {
    max-width: 320px;
  }

  &__button {
    min-width: 100px;
  }
}
