$primary-color-font-light: hsl(210, 10%, 23%);
$primary-color-background-light: hsl(210, 17%, 98%);
$font-menu-light: hsl(0, 49%, 30%);

$primary-color-font-dark: hsl(210, 17%, 98%);
$primary-color-background-dark: hsl(210, 10%, 23%);
$secondary-color-dark: hsl(0, 0%, 100%);

$success: hsl(134, 61%, 41%);

$secondary: hsl(0, 100%, 50%);

$dark-game: hsl(0, 0%, 27%);
$light-game: hsl(218, 29%, 95%);
