.field-area {
  margin: 0 auto;
}

.game-field {
  width: 100%;
  height: 500px;
  border: solid 1px black;
}

.cell {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}

.cell.selected {
  background-color: yellow;
}

.active {
  background-color: lightblue;
}

.cellRow {
  display: flex;
}
