.game-field {
  width: 500px;
  height: 500px;
  border: solid 1px black;
}

.cell {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}

.active {
  background-color: lightblue;
}

.selected {
  background-color: yellow;
}

.cellRow {
  display: flex;
}
