@import '../../constants/variables';

.footer {
  grid-area: footer;

  &__content {
    display: flex;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;

    &-light {
      color: $primary-color-font-light;
      background: $primary-color-background-light;

      & a {
        color: $primary-color-font-light;
        transition: color 0.3s;

        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }
    }

    &-dark {
      color: $primary-color-font-dark;
      background: $primary-color-background-dark;

      .logo {
        filter: invert(100%);
      }

      & a {
        color: $primary-color-font-dark;
        transition: color 0.3s;

        &:hover {
          color: $secondary;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .footer {
    &-wrapper {
      flex-direction: column;
    }

    &__content {
      flex-direction: column;
    }
  }
}
