.footer {
  grid-area: footer;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    background: rgb(255, 253, 253);
    border-radius: 5px;
  }
}
