.player {
  display: flex;
  align-items: center;
  justify-content: center;

  &--current {
    color: red;
  }

  &--current::before {
    content: '>';
  }
}

.player__name {
  margin: 10px 20px;
  font-size: 30px;
}

.player__points {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 250px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

.player-words {
  padding: 5px;
  margin: 5px;
  background-color: #eae8e8;
  border-radius: 5px;
}

.player-words ol {
  padding-top: 5px;
  padding-left: 25px;
  margin: 0;
}
