@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

html {
  font-size: 18px;
}

body {
  min-height: 100%;
  font-family: 'Heebo', 'Oranienbaum', sans-serif !important;
  background-image: url('./assets/images/background.jpg');
}

.wrapper {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 50px 1fr 50px;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.field-area .btn {
  margin-bottom: 10px;
}

.alert-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  display: flex;
  grid-area: main;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1000px) {
    .players {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .game {
      display: grid;
      grid-template-columns: 1fr;
    }

    .player-words {
      display: none;
    }
  }
}

@media screen and (max-width: 590px) {
  .player__points {
    min-width: 95px;
  }

  .player__name {
    font-size: 16px;
  }

  .time-wrapper {
    font-size: 15px;
  }

  .word-field {
    font-size: 16px;
  }

  .cell {
    font-size: 22px;
  }

  .footer-wrapper,
  .player__points span {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) {
  .ribbon {
    display: none;
  }

  .modal-buttons {
    width: 250px;
  }

  .cup,
  .cat {
    width: 250px;
    height: 250px;
  }

  .modal-content p {
    font-size: 18px;
  }

  .footer-wrapper,
  .player__points span {
    font-size: 16px;
  }

  .player__name {
    font-size: 16px;
  }

  .cellRow > * + * {
    margin-left: 7px;
  }
}
