.wrapper {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 50px 1fr 50px;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.btn {
  margin-bottom: 10px;
}

.alert-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  grid-area: main;

  @media screen and (max-width: 1000px) {
    .players {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .game {
      display: grid;
      grid-template-columns: 1fr;
    }

    .player-words {
      display: none;
    }
  }
}
