.wrapper {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 50px 1fr 50px;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 150px 1fr 150px;
}
